#lists {
    background-color: rgba(0, 0, 0, 0.2);
    width: 15%;
    top: 0%;
    position: fixed;
    height: 100%;
    padding-left: 10%;
    overflow-y: auto;
}
#lists h4 {
    font-size: 2rem;
}
#lists .lists-item {
    display: block;
    width: 100%;
    padding: 0.3em 0.3em;
    text-align: left;
    margin: 0.5em 0em;
    background-color: var(--elementBG);
    border-radius: 0.3em;
}

#lists .lists-item button {
    width: calc(100% - 2.5em);
    padding: 0.4em;
    background-color: var(--elementHover);
    text-align: left;
}
#lists .lists-item button:hover {
    background-color: var(--elementBrighter);
}
#list-content {
    right: 0%;
    padding: 2%;
    overflow-x: hidden;
}
.edit-icon {
    border: rgba(0, 0, 0, 0);
    font-size: 1em;
    cursor: pointer;
    margin: 0% 0% 0% 0%;
    padding: 0.4em;
    border-radius: 0.5em;
    margin-right: 0.3em;
}
.edit-icon:hover {
    background-color: var(--elementHover);
}
#list-view {
    position: fixed;
    top: 0%;
    left: 25%;
    width: 75%;
    height: 100%;
    margin: 2%;
}
#list-view h4 {
    text-align: left;
    margin-bottom: 0px;
}
.todo-list-item {
    display: block;
    width: 100%;
    padding: 0.3em 0.3em;
    text-align: left;
    margin: 0.5em 0em;
    background-color: var(--elementBG);
    border-radius: 0.3em;
}
.todo-list-item .complete-icon {
    border: rgba(0, 0, 0, 0);
    font-size: 1em;
    cursor: pointer;
    margin: 0% 0% 0% 0%;
    padding: 0.4em;
    border-radius: 0.5em;
    margin-right: 0.3em;
}
.todo-list-item .complete-icon:hover {
    background-color: var(--elementHover);
}
.todo-list-item .view-item-button {
    padding: 0.4em;
    background-color: var(--elementBG);
    text-align: left;
}
.todo-list-item .view-item-button:hover {
    opacity: 0.4;
}
#item-info {
    width: 40%;
    height: min-content;
    background-color: var(--background);
    position: fixed;
    left: 30%;
    top: 100%;
    z-index: 50;
    -webkit-transition: top 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: top 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    border-radius: 1em;
    padding: 2em;
    overflow-y: auto;
    overflow-x: hidden;
}
#item-info .set-status-button {
    padding: 0.5em;
}
#item-info .set-status-button:disabled {
    background-color: var(--elementHover);
    opacity: 1;
    cursor: not-allowed;
}
#item-info .delete-button {
    padding: 0.5em;
	background-color: rgb(216, 60, 60);
}
#item-info .delete-button:hover {
    opacity: 1;
	background-color: rgb(255, 97, 97);
}
#item-info input#name-input {
    text-align: left;
    padding: 0.2em;
    font-size: 1.4em;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0);
    width: calc(100% - 0.4em);
    outline: 1px solid var(--elementBrighter);
    border-radius: 0.1em;
}

#list-info {
    width: 40%;
    height: min-content;
    background-color: var(--background);
    position: fixed;
    left: 30%;
    top: 100%;
    z-index: 50;
    -webkit-transition: top 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: top 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    border-radius: 1em;
    padding: 2em;
    overflow-y: auto;
    overflow-x: hidden;
}
#list-info .set-status-button {
    padding: 0.5em;
}
#list-info .set-status-button:disabled {
    background-color: var(--elementHover);
    opacity: 1;
    cursor: not-allowed;
}
#list-info .delete-button {
    padding: 0.5em;
	background-color: rgb(216, 60, 60);
}
#list-info .delete-button:hover {
    opacity: 1;
	background-color: rgb(255, 97, 97);
}
#list-info input#list-name-input {
    text-align: left;
    padding: 0.2em;
    font-size: 1.4em;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0);
    width: calc(100% - 0.4em);
    outline: 1px solid var(--elementBrighter);
    border-radius: 0.1em;
}
#list-info input#list-name-input:focus {
    outline: 3px solid var(--elementBrighter);
}
#info-dimmer {
    z-index: 49;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.25s;
    display: none;
    opacity: 0;
}
#list-progress-bar {
    height: 0.3em;
    background-color: var(--body);
    transition: width 0.5s cubic-bezier(0, 0, 0.25, 1);;
}
#list-dimmer {
    z-index: 49;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.25s;
    display: none;
    opacity: 0;
}
.fa-circle-check {
    color: var(--green);
}
.fa-circle-play {
    color: rgb(250, 193, 37);
}
.fa-clock {
    color: grey;
}