/* Fonts */

/* Sen (Body) */
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');

/* Raleway (Headings) */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,900;1,900&display=swap');

/* League Spartan (Unused) */
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;700;900&display=swap");

/* Lato (Unused) */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* Fredoka (Unused) */
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap");

/* Jost (Unused) */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,400;0,500;0,600;0,800;0,900;1,200;1,400;1,500;1,600;1,800;1,900&display=swap');

/* Lexend (Body) */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400;500;700;900&display=swap');

/* Be Vietnam Pro (Some Headings) */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,200;0,400;0,500;0,700;0,900;1,200;1,400;1,500;1,700;1,900&display=swap');

/* Alt */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;400;500;600;800;900&display=swap'); 

/* Copy of Be Vietnam Pro */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700;800;900&display=swap');

/* Kumbh sans, nice headings */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;300;400;600;800;900&display=swap');

/* Dancing Script (Cursive) */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

/* Jetbrains Mono */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,200;0,400;0,700;0,800;1,200;1,400;1,700;1,800&display=swap');

/* Figtree (Cool) */
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800;900&display=swap');

/* Outfit (modern) */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;700;900&display=swap');

/* Maths */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');

/* Hanken Grotesk */
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100;0,200;0,400;0,500;0,700;0,900;1,100;1,200;1,400;1,500;1,700;1,900&display=swap');

:root {
	--background: #161c25;
	--title: #0a2343;
	--sidebar: #0e1626;
	--h2: #ffffff;
	--body: #ffffff;
	--shadow: #000000;
	--elementBG: #0a2343;
	--elementHover: #13396b;
	--elementBrighter: #1c55a0;
	--green: rgb(69, 255, 69);
	--normalFont: 'Outfit', "Montserrat", sans-serif;
	--heading: "Hanken Grotesk", "Montserrat", sans-serif;
	--codeFont: "JetBrains Mono", "Consolas", "Courier New", "Courier", monospace;
	--bottom: #000000;
}

.bigger {
	font-size: 1.2em !important;
}
.much-bigger {
	font-size: 1.5em !important;
}
html {
	background: var(--background);
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin: 0px;
}
button {
	background-color: var(--elementBG);
	border: rgba(0, 0, 0, 0);
	font-family: var(--normalFont);
	text-decoration: none;
	font-size: 1em;
	cursor:pointer;
	margin: 0% 0% 0% 0%;
	color: var(--body);
	text-decoration: none;
	padding-left: 1em;
	padding-right: 1em;
	padding: 0.1em;
	border-radius: 0.5em;
}
button:hover {
	text-decoration: underline;
	font-size: 1em;
	margin: 0% 0% 0% 0%;
	color: var(--body);
	text-decoration: none;
	background-color: var(--elementHover);
	padding: 0.1em;
	border-radius: 0.5em;
}
body {
	font-family: var(--normalFont), 'Montserrat', sans-serif;
	font-weight: 400;
	/*background: #161c25;*/
	font-size: 1.25em;
	color: var(--body);
	margin: 0px 0px 0px 0px;
}
select {
	background-color: var(--elementBG);
	border-color: var(--elementBG);
	border-radius: 1em;
	color: var(--body);
	font-family: var(--normalFont);
	font-size: 1em;
	transition: background-color 0.3s;
}
select:hover {
	background-color: var(--elementHover);
}
option hide{
	display: none;
}
.mainParagraph {
	margin: 0px 27% 0px 27%;
}
#title {
	text-align: center;
	font-size: 4em;
	/* height: 1.2em; */
	/*background-color: #182a4d;*/
	color: var(--body);
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	visibility: hidden;
}
.bar {
	text-align: center;
	left: 0%;
	background-color: var(--sidebar);
	width: 100%;
	font-size: 1.2em;
	position: fixed;
}
.bar a {
	color: var(--body);
	text-decoration: none;
	padding-left: 1em;
	padding-right: 1em;
	transition: 0.3s;
}
.bar a:hover {
	color: var(--body);
	text-decoration: none;
	background-color: rgb(12, 20, 36);
}
maths {
	font-family: 'Libre Baskerville', serif;
	font-style: italic;
}
.notAllowed:hover { cursor: no-drop; }
li {
	margin-top: 20px;
	margin-bottom: 20px;
}
a {
	color: rgb(24, 126, 243);
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0);
	transition: 0.3s;
}
a:hover {
	color: rgb(24, 126, 243);
	text-decoration: underline;
	background-color: rgba(0, 0, 0, 0);
}
.rightImage {
	float: right;
	width: 15%;
	padding-left: 2%;
}
.leftImage {
	float: left;
	width: 15%;
	padding-right: 2%;
}
.whole-width-card {
	background-color: var(--title);
	border-radius: 0.5em;
	width: 96%;
	padding: 2%;
	margin: 2%;
	margin-left: 0px;
	/*padding-left: 0px;*/
	font-size: 0.8em;
	/*float: left;*/
	outline: 0em solid grey;
	box-shadow: 0.5em 0.5em 2em black;
}
.whole-width-card.active:hover {
	cursor: pointer;
	outline: 0.2em solid grey;
}
.whole-width-card h4 {
	font-size: 1.3em;
	margin-top: 0px;
	/*margin-bottom: 0.5em;*/
}
.whole-width-card img {
	width: 40%;
	float: right;
	border-radius: 0.2em;
}
.whole-width-card img.cardIcon {
	float: right;
	width: 5%;
	border-radius: 100%;
}
.whole-width-card i {
	float: left;
	width: 5%;
	border-radius: 100%;
}
.card {
	background-color: var(--title);
	border-radius: 0.5em;
	min-height: 13em;
	width: 40%;
	padding: 2%;
	margin: 2%;
	font-size: 0.8em;
	float: left;
	outline: 0em solid grey;
	box-shadow: 0.5em 0.5em 2em black;
}
@media (max-width: 750px) {
	.card {
		width: 100%;
	}
}
.card.active:hover {
	cursor: pointer;
	outline: 0.2em solid grey;
}
.card h4 {
	font-size: 1.3em;
	margin-top: 0px;
	margin-bottom: 0.5em;
}
.card img {
	width: 40%;
	float: right;
	border-radius: 0.2em;
}
.card img.cardIcon {
	float: left;
	width: 8%;
	border-radius: 100%;
}
.cards {
	display: flex;
	justify-content:center;
	flex-wrap: wrap;
}
.small-card {
	background-color: var(--title);
	border-radius: 0.5em;
	width: 23%;
	padding: 2%;
	margin: 2%;
	font-size: 0.8em;
	float: left;
	outline: 0em solid grey;
	box-shadow: 0.5em 0.5em 2em black;
}
@media (max-width: 1100px) {
	.small-card {
		width: 100%;
	}
}
.small-card.active:hover {
	cursor: pointer;
	outline: 0.2em solid grey;
}
.small-card h4 {
	font-size: 1.3em;
	margin-top: 0px;
	margin-bottom: 0.5em;
}
.small-card img {
	width: 65%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 0.3em;
	border-radius: 0.2em;
}
.small-card img.cardIcon {
	float: left;
	width: 8%;
	border-radius: 100%;
}
.smaller-card {
	background-color: var(--title);
	border-radius: 0.5em;
	width: 17%;
	padding: 2%;
	margin: 2%;
	font-size: 0.8em;
	float: left;
	outline: 0em solid grey;
	box-shadow: 0.5em 0.5em 2em black;
}
@media (max-width: 1690px) {
	.smaller-card {
		width: 100%;
	}
}
.smaller-card.active:hover {
	cursor: pointer;
	outline: 0.2em solid grey;
}
.smaller-card h4 {
	font-size: 1.3em;
	margin-top: 0px;
	margin-bottom: 0.5em;
}
.smaller-card img {
	width: 100%;
	float: left;
	padding: 0.3em;
	border-radius: 0.2em;
}
.smaller-card img.cardIcon {
	float: left;
	width: 8%;
	border-radius: 100%;
}
.searchBar {
	width: 100%;
	font-size: 1.5em;
	font-family: var(--heading), 'Montserrat', sans-serif;
	font-weight: 600;
	background-color: var(--elementBG);
	border: none;
	color:var(--body);
}
input {
	font-size: 1em;
	font-family: var(--heading), 'Montserrat', sans-serif;
	font-weight: 600;
	background-color: var(--elementBG);
	border: none;
	color:var(--body);
}
.popup-text {
	animation: popup-text 3s linear;
	-webkit-animation: popup-text 3s linear;
	position: absolute;
	display: inline-block;
	text-align: center;
	margin: auto;
	right: 50%;
}
.popup-text .popup-text-content {
	display: inline-block;
	position: relative;
	background-color: var(--elementBG);
	padding: 0.3em;
	font-size: 1.3em;
}
@keyframes popup-text {
	0% {
		transform: translate(50%, 30px);
		opacity: 0;
	}
	50% {
		opacity: 100;
	}
	100% {
		transform: translate(50%, -30px);
		opacity: 0;
	}
}
@-webkit-keyframes popup-text {
	0% {
		-webkit-transform: translateY(30px);
		opacity: 0;
	}
	50% {
		opacity: 100;
	}
	100% {
		-webkit-transform: translateY(-30px);
		opacity: 0;
	}
}
.searchItems {
	list-style-type: none;
	padding-left: 0px;
}
.searchItems li {
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}
.searchItems li a {
	color: var(--body);
	text-decoration: none;
	padding-left: 1em;
	padding-right: 1em;
}
.searchItems li a:hover {
	color: var(--body);
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0.3);
}
.bigList {
	list-style-type: none;
	padding-left: 0px;
}
.bigList li {
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}
.bigList li a {
	color: var(--body);
	text-decoration: none;
	padding-left: 1em;
	padding-right: 1em;
}
.bigList li a:hover {
	color: var(--body);
	text-decoration: none;
	background-color: var(--elementBG);
}
be {
	font-weight: 900;
}
light {
	font-weight: 300;
}
sml {
	font-weight: 300;
	font-size: 0.8em;
}
h1 {
	font-size: 5em;
	font-family: var(--heading), "Montserrat", sans-serif;
	font-weight: 500;
	color: var(--body);
	text-align: center;
	background-color: var(--background);
	width: min-content;
	margin: auto;
	padding: 0.1em;
	box-shadow: var(--background) 0px 0px 0.5em 0.5em;
}
h2 {
	font-family: var(--heading), 'Montserrat', sans-serif;
	/*font-weight: 900;*/
	color: var(--body);
	text-align: center;
	font-size: 4em;
	/* height: 1.2em; */
	/*background-color: #182a4d;*/
	font-weight: 900;
}
h3 {
	font-family: var(--heading), 'Montserrat', sans-serif;
	font-size: 2em;
	font-weight: 300;
	text-align: center;
}
h3::before {
    display: block;
    content: "\A";
    border-top: 0.05em solid var(--body);
    width: 100%;
	opacity: 0.5;
    transform: translateY(-1rem);
}
h4 {
	font-family: var(--heading), 'Montserrat', sans-serif;
	font-size: 2.7em;
	font-weight: 500;
	text-align: center;
}
h5 {
	font-family: var(--heading), 'Montserrat', sans-serif;
	font-size: 1.3em;
	font-weight: 900;
	margin: 2em 0em 1em 0em;
}
h6 {
	font-family: var(--heading), 'Montserrat', sans-serif;
	font-weight: 900;
	font-size: 1.1em;
	margin: 1.5em 0em 0.5em 0em;
}
.fredoka {
	font-family: 'Fredoka', 'Montserrat', sans-serif;
	font-weight: 600;
}
.line {
	border-top-style: solid;
}
#leftsidebar {
	float: left;
	position: static;
	left: 2%;
	width: 20%;
}
#rightsidebar {
	float: right;
	position: static;
	right: 2%;
	width: 20%;
}
.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 10%;
}
.fullImage {
	left: 20%;
	width: 111.1%;
}
.large-space {
	min-height: 200px;
}
.space {
	min-height: 100px;
}
.smallSpace {
	min-height: 50px;
}
.buttonURL {
	background-color: rgba(0, 0, 0, 0);
	border: rgba(0, 0, 0, 0);
	color: rgb(24, 126, 243);
	font-family: var(--normalFont);
	text-decoration: none;
	font-size: 1em;
	cursor:pointer;
	margin: 0% 0% 0% 0%;
	transition: 0.3s;
}
.buttonURL:hover {
	background-color: rgba(0, 0, 0, 0);
	color: rgb(24, 126, 243);
	text-decoration: underline;
	font-size: 1em;
	margin: 0% 0% 0% 0%;
}
.URLbutton {
	color: var(--body);
	text-decoration: none;
	padding-left: 1em;
	padding-right: 1em;
	transition: 0.3s;
	background-color: var(--elementBG);
}
.URLbutton:hover {
	color: var(--body);
	text-decoration: none;
	background-color: var(--elementHover);
}
.URLbuttonText {
	color: var(--body);
	opacity: 1;
	text-decoration: none;
	transition: opacity 0.3s;
}
.URLbuttonText:hover {
	color: var(--body);
	opacity: 0.66;
	text-decoration: none;
}
.pad {
	padding-left: 1em;
	padding-right: 1em;
}
.centre {
	margin: auto;
	display: block;
}

.code {
	font-family: 'JetBrains Mono', 'Consolas', Courier, monospace;
	background-color: var(--elementBG);
	font-size: 0.9em;
	font-style: normal;
	border-radius: 0.2em;
}
code {
	font-family: 'JetBrains Mono', 'Consolas', Courier, monospace;
	background-color: var(--elementBG);
	font-size: 0.9em;
	font-style: normal;
	border-radius: 0.2em;
}
small {
	font-size: 0.8em;
}
.sidebar {
	top: 2%;
	position: fixed;
	width: calc(3% + 6em);
	left: calc(27% - ((3% + 6em) * 1.5));
	min-height: 100%;
	z-index: 10;
	background-color: var(--sidebar);
	padding: 0px 1em 0px 1em;
	transition: left 0.5s;
	overflow-x: auto;
}
.sidebar h4 {
	text-align: center;
	font-size: 1.35em;
	font-weight: 600;
}
.zoomonhover {
	/*font-size: 1em;*/
	transition: 0.3s;
}
.zoomonhover:hover {
	font-size: 1.2em;
}
.zoomonhover:hover:disabled {
	font-size: 1em;
}
button:disabled {
	opacity: 0.4;
}
.imageDescription { font-size: 0.8em; }
html { scroll-behavior: smooth; }
pre {
	word-wrap: break-word;
	white-space: pre-wrap;
	font-family: 'JetBrains Mono', 'Consolas', Courier, monospace;
}
.disclaimer { color: rgb(163, 61, 61); }
.disclaimerBG {
	background-color: rgb(204, 37, 37, 0.5);
	padding: 0.3em 0.3em 0.3em 0.3em;
	border: 0.1em solid rgb(163, 61, 61);
	border-radius: 0.5em;
}
.disclaimerBG b::after {
	white-space: pre-wrap;
	content: "\A";
}
#sidebarbutton {
	display:none;
	position:fixed;
	left: 2%;
	top: 2%;
	z-index: 11;
	font-size:1.5em;
	background-color: rgb(0, 150, 155);
	border-radius: 1em;
	padding: 0.4em;
}
.notification {
	position: fixed;
	z-index: 5;
	right: -30em;
	top: 2%;
	text-align: left;
	max-width: 20em;
	background-color: red;
	overflow-x: auto;
	word-wrap: break-word;
	transition: 0.7s ease-out;
	border: 0.15em solid rgba(0, 0, 0, 0);
	padding: 0.3em;
	border-radius: 1em;
}
.collapsible {
	border-radius: 0;
	width: 100%;
	text-align: left;
	padding: 0.5em;
	background-color: var(--elementBG);
}
.collapsible::before {
	content: "▶ ";
}
.collapsible:hover {
	border-radius: 0;
	padding: 0.5em;
	background-color: var(--elementHover);
}
.collapsible.active {
	background-color: var(--elementHover);
}
.collapsible.active::before {
	content: "▼ ";
}

.collapsible-content {
	background-color: var(--elementBG);
	width: 100%;
	overflow: hidden;
	max-height: 0;
	transition: max-height 0.3s ease-out;
}
.collapsible-content::after {
	content: "\A\A";
	white-space: pre-wrap;
}
#tutorial-progress {
	background-color: var(--elementBrighter);
	height: 0.5em;
	position: fixed;
	top: 0px;
	width: 0%;
	transition: width 0.2s ease-out;
}
#tutorial-points {
	display: none;
}
.popup {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 0.1em solid black;
	border-radius: 0.2em;
	padding: 0.3em;
	background-color: var(--elementHover);
	color: var(--body);
	width: 500px;
	max-width: 30%;
	min-height: 5em;
	max-height: 30%;
	z-index: 5;
	transform-origin: 0% 0%;
	-webkit-animation: openPopup 0.5s cubic-bezier(0, 0, 0, 1);
	animation: openPopup 0.5s cubic-bezier(0, 0, 0, 1);
	overflow-y: auto;
}
@media (max-width: 500px) {
	.popup {
		font-size: 1.5em;
		max-width: 85%;
		max-width: 100%;
	}
}
.popup h5 {
	margin: 0.2em 0.1em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.popup .close-button {
	padding: 0.05em 0.3em;
	font-size: 1.2em;
}
.popup .popup-body {
	font-size: 0.8em;
	overflow-y: hidden;
}
.popup.closed {
	-webkit-animation: closePopup 0.25s ease-in;
	animation: closePopup 0.25s ease-in;
}
#confirm-close {
	border-radius: 0.2em;
	padding: 0.2em;
	background-color: rgba(75, 214, 65, 0.321);
}
#confirm-close:hover {
	border-radius: 0.2em;
	padding: 0.2em;
	background-color: rgba(167, 232, 162, 0.713);
}
@-webkit-keyframes closePopup {
	0% { opacity: 100; transform: scale(1) translate(-50%, -50%); }
	/*20% { opacity: 100; transform: scale(1.2) translate(-50%, -50%); }*/
	100% { opacity: 0; transform: scale(0.6) translate(-50%, -50%); }
}
@keyframes closePopup {
	0% { opacity: 100; transform: scale(1) translate(-50%, -50%); }
	/*20% { opacity: 100; transform: scale(1.2) translate(-50%, -50%); }*/
	100% { opacity: 0; transform: scale(0.6) translate(-50%, -50%); }
}
@-webkit-keyframes openPopup {
	0% { opacity: 0; transform: scale(0.6) translate(-50%, -50%); }
	/*50% { opacity: 100; transform: scale(1.2) translate(-50%, -50%); }*/
	100% { opacity: 100; transform: scale(1) translate(-50%, -50%); }
}
@keyframes openPopup {
	0% { opacity: 0; transform: scale(0.6) translate(-50%, -50%); }
	/*50% { opacity: 100; transform: scale(1.2) translate(-50%, -50%);}*/
	100% { opacity: 100; transform: scale(1) translate(-50%, -50%); }
}
@keyframes moveInElement {
	from {opacity: 0%; transform: translateY(60px);}
	to {opacity: 100%;}
}
@-webkit-keyframes moveInElement {
	from {opacity: 0%; transform: translateY(60px);}
	to {opacity: 100%;}
}
@keyframes moveInRight {
	from {opacity: 0%; transform: translateX(-60px);}
	to {opacity: 100%;}
}
@-webkit-keyframes moveInRight {
	from {opacity: 0%; transform: translateX(-60px);}
	to {opacity: 100%;}
}
.beginner {
	color: var(--green);
}
.intermediate {
	color: rgb(241, 166, 53);
}
.advanced {
	color: rgb(255, 97, 97);
}
#overlay {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgb(0, 0, 0, 0.5);
	position: fixed;
	/* opacity: 0; */
	transition: opacity 0.5s;
	z-index: 4;
}
th {
	background-color: var(--elementHover);
	padding: 0.3em;
}
td {
	background-color: var(--elementHover);
	padding: 0.3em;
}
#loading {
	background-color: rgba(0, 0, 0, 0.2);
	width: 100vw;
	height: 100vh;
	position: fixed;
	z-index: 50;
	text-align: center;
	color: rgba(255, 255, 255, 0.5);
}
#logo {
	width: 60%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	filter: drop-shadow(1px 3px 5px black);
}
#below-logo {
	filter: drop-shadow(1px 3px 5px black);
	color: white;
}
cursive {
	font-family: "Dancing Script", "Fredoka", "Montserrat", sans-serif;
	font-size: 1.2em;
}
green {
	color: var(--green);
}
red {
	color: rgb(255, 97, 97);
}
red-bg {
	background-color: rgba(255, 69, 69, 0.5);
	padding: 0.3em 0.3em 0.3em 0.3em;
	border: 0.1em solid rgb(234, 53, 53);
	border-radius: 0.5em;
}
green-bg {
	background-color: rgba(69, 255, 116, 0.5);
	padding: 0.3em 0.3em 0.3em 0.3em;
	border: 0.1em solid rgb(53, 234, 101);
	border-radius: 0.5em;
}
hide {
	display: none;
}
.hide {
	display: none;
}
#tooltip {
	position: fixed;
	font-family: var(--normalFont);
	background: var(--elementBG);
	color: var(--body);
	border-radius: 0.2em;
	padding: 0.2em 0.2em;
	padding: 0.2em 0.2em;
	transition: opacity 0.1s;
}
.fa-solid {
	padding-right: 0.3em;
}
body { padding: 0; margin: 0; }

.whole-width-image {
	top: 0px;
	position: absolute;
	left: 0px;
	right: 0px;
}
.whole-width-image img {
    display: block;
    position: relative;
    z-index: -2;
    width: 100%;
}
.whole-width-image .fade {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background: rgba(255, 255, 255, 0)
		linear-gradient(
			to bottom,
			rgba(255, 255, 255, 0) 0%,
			var(--background) 80%
		)
		repeat scroll 0 0;
}
.parallax {
	background-attachment: fixed;
}
.clear {
	clear: both;
}
.left {
	float: left;
}
.right {
	float: right;
}
.half-left {
	float:left;
	width: 45%;
}
.half-right {
	float: right;
	width: 45%;
}
.whole-width {
	width: 100%;
}
.image-zoom:hover {
	cursor: zoom-in;
}
.active:hover {
	cursor: pointer;
}
.fixed {
	position: fixed;
}
.disable-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#bottom {
	background-color: var(--bottom);
	padding: 1em;
}
#bottom span {
	padding: 1%;
	margin: 0% 9%;
	width: 13%;
	float: left;
}
#bottom span a {
	display: block;
}
#bottom h5 {
	text-align: center;
}
.can-transition {
	transform: translateX(0px);
	transition: transform 0.3s cubic-bezier(0, 0, 0, 1), opacity 0.7s;
	opacity: 100;
}
.can-transition.transition-moved {
	transform: translateY(-2.5em);
	transition: transform 0.3s cubic-bezier(1, 0, 1, 1), opacity 0.3s;
	opacity: 0;
}
.can-transition.transition-moved.transition-moved-back {
	transform: translateY(2.5em);
	transition: transform 0.7s cubic-bezier(0, 0, 0, 1), opacity 0.7s;
	opacity: 0;
}