/* Fonts */

/* Sen (Body) */
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');

/* Raleway (Headings) */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,900;1,900&display=swap');

/* League Spartan (Unused) */
/*@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;700;900&display=swap");*/

/* Lato (Unused) */
/*@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");*/

/* Fredoka (Unused) */
/*@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap");*/

/* Jost (Unused) */
/*@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,400;0,500;0,600;0,800;0,900;1,200;1,400;1,500;1,600;1,800;1,900&display=swap'); */

/* Lexend (Body) */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400;500;700;900&display=swap');

/* Be Vietnam Pro (Some Headings) */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,200;0,400;0,500;0,700;0,900;1,200;1,400;1,500;1,700;1,900&display=swap');

.bigger {
	font-size: 1.2em !important;
}
html {
	background: #161c25;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin: 0px;
}
button {
	background-color: rgba(0, 0, 0, 0);
	border: rgba(0, 0, 0, 0);
	color: rgb(24, 126, 243);
	font-family: 'Sen', 'Montserrat', sans-serif;
	text-decoration: none;
	font-size: 1em;
	cursor:pointer;
	margin: 0% 0% 0% 0%;
	color: white;
	text-decoration: none;
	padding-left: 1em;
	padding-right: 1em;
	padding: 0%;
	transition: 0.3s;
}
button:hover {
	color: rgb(24, 126, 243);
	text-decoration: underline;
	font-size: 1em;
	margin: 0% 0% 0% 0%;
	color: white;
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0.3);
	padding: 0%;
}
body {
	font-family: 'Lexend', 'Montserrat', sans-serif;
	font-weight: 400;
	/*background: #161c25;*/
	font-size: 1.35em;
	color: #ffffff;
	margin: 0px 0px 0px 0px;
}
select {
	background-color: #383838;
	border-color: #383838;
	border-radius: 1em;
	color: white;
	font-family: 'Lexend', 'Montserrat', sans-serif;
	font-size: 1em;
	transition: background-color 0.3s;
}
select:hover {
	background-color: #727272;
}
.mainParagraph {
	margin: 0px 27% 0px 27%;
}
#title {
	text-align: center;
	font-size: 4em;
	/* height: 1.2em; */
	/*background-color: #182a4d;*/
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
}
.bar {
	text-align: center;
	left: 0%;
	background-color: rgb(16, 28, 51);
	width: 100%;
	font-size: 1.2em;
	position: fixed;
}
.bar a {
	color: white;
	text-decoration: none;
	padding-left: 1em;
	padding-right: 1em;
	transition: 0.3s;
}
.bar a:hover {
	color: white;
	text-decoration: none;
	background-color: rgb(12, 20, 36);
}
.notAllowed:hover { cursor: no-drop; }
li {
	margin-top: 20px;
	margin-bottom: 20px;
}
#bottom {
	text-align: center;
	background-color: rgb(0, 0, 175);
	width: 100%;
	color: white;
}
a {
	color: rgb(24, 126, 243);
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0);
	transition: 0.3s;
}
a:hover {
	color: rgb(24, 126, 243);
	text-decoration: underline;
	background-color: rgba(0, 0, 0, 0);
}
.moveIn {
	transform:translateY(20px);
	transition: transform 0.5s, opacity 0.5s;
	opacity: 0%;
}
.rightImage {
	float: right;
	width: 15%;
	padding-left: 2%;
}
.leftImage {
	float: left;
	width: 15%;
	padding-right: 2%;
}
.card {
	background-color: grey;
	border-radius: 0.5em;
	min-height: 13em;
	max-width: 40%;
	padding: 2%;
	margin: 2%;
	font-size: 0.8em;
	float: left;
	outline: 0em solid grey;
	box-shadow: 0.5em 0.5em 2em black;
}
.card:hover {
	cursor: pointer;
	outline: 0.2em solid grey;
}
.card h4 {
	font-size: 1.3em;
	margin-top: 0px;
	margin-bottom: 0.5em;
}
.card img {
	width: 40%;
	float: right;
	border-radius: 0.2em;
}
.card img.cardIcon {
	float: left;
	width: 8%;
	border-radius: 100%;
}
.cards {
	display: flex;
	justify-content:center;
	flex-wrap: wrap;
}
.small-card {
	background-color: grey;
	border-radius: 0.5em;
	max-width: 23%;
	padding: 2%;
	margin: 2%;
	font-size: 0.8em;
	float: left;
	outline: 0em solid grey;
	box-shadow: 0.5em 0.5em 2em black;
}
.small-card:hover {
	cursor: pointer;
	outline: 0.2em solid grey;
}
.small-card h4 {
	font-size: 1.3em;
	margin-top: 0px;
	margin-bottom: 0.5em;
}
.small-card img {
	width: 65%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 0.3em;
	border-radius: 0.2em;
}
.small-card img.cardIcon {
	float: left;
	width: 8%;
	border-radius: 100%;
}
.smaller-card {
	background-color: grey;
	border-radius: 0.5em;
	max-width: 17%;
	padding: 2%;
	margin: 2%;
	font-size: 0.8em;
	float: left;
	outline: 0em solid grey;
	box-shadow: 0.5em 0.5em 2em black;
}
.smaller-card:hover {
	cursor: pointer;
	outline: 0.2em solid grey;
}
.smaller-card h4 {
	font-size: 1.3em;
	margin-top: 0px;
	margin-bottom: 0.5em;
}
.smaller-card img {
	width: 100%;
	float: left;
	padding: 0.3em;
	border-radius: 0.2em;
}
.smaller-card img.cardIcon {
	float: left;
	width: 8%;
	border-radius: 100%;
}
.searchBar {
	width: 100%;
	font-size: 1.5em;
	font-family: 'Lexend', 'Montserrat', sans-serif;
	font-weight: 600;
	background-color: rgb(12, 20, 37);
	border: none;
	color:rgb(255, 255, 255);
}
.searchItems {
	list-style-type: none;
	padding-left: 0px;
}
.searchItems li {
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}
.searchItems li a {
	color: white;
	text-decoration: none;
	padding-left: 1em;
	padding-right: 1em;
}
.searchItems li a:hover {
	color: white;
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0.3);
}
.bigList {
	list-style-type: none;
	padding-left: 0px;
}
.bigList li {
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}
.bigList li a {
	color: white;
	text-decoration: none;
	padding-left: 1em;
	padding-right: 1em;
}
.bigList li a:hover {
	color: white;
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0.3);
}
h2 {
	font-family: 'Raleway', 'Montserrat', sans-serif;
	font-size: 3em;
	/*font-weight: 900;*/
	color: #ffffff;
	text-align: center;
	font-size: 4em;
	/* height: 1.2em; */
	/*background-color: #182a4d;*/
	color: white;
	font-weight: 900;
}
h3 {
	font-family: 'Be Vietnam Pro', 'Montserrat', sans-serif;
	font-size: 1.9em;
	font-weight: 600;
}
h4 {
	font-family: 'Be Vietnam Pro', 'Montserrat', sans-serif;
	font-size: 2em;
	font-weight: 900;
	text-align: center;
}
h5 {
	font-family: 'Be Vietnam Pro', 'Montserrat', sans-serif;
	font-size: 1.3em;
}
h6 {
	font-family: 'Be Vietnam Pro', 'Montserrat', sans-serif;
	font-weight: 900;
	font-size: 1.1em;
}
.fredoka {
	font-family: 'Fredoka', 'Montserrat', sans-serif;
	font-weight: 600;
}
.line {
	border-top-style: solid;
}
#leftsidebar {
	float: left;
	position: static;
	left: 2%;
	width: 20%;
}
#rightsidebar {
	float: right;
	position: static;
	right: 2%;
	width: 20%;
}
.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 10%;
}
.fullImage {
	left: 20%;
	width: 111.1%;
}
.space {
	min-height: 100px;
}
.smallSpace {
	min-height: 50px;
}
.buttonURL {
	background-color: rgba(0, 0, 0, 0);
	border: rgba(0, 0, 0, 0);
	color: rgb(24, 126, 243);
	font-family: 'Lexend', 'Montserrat', sans-serif;
	text-decoration: none;
	font-size: 1em;
	cursor:pointer;
	margin: 0% 0% 0% 0%;
	transition: 0.3s;
}
.buttonURL:hover {
	background-color: rgba(0, 0, 0, 0);
	color: rgb(24, 126, 243);
	text-decoration: underline;
	font-size: 1em;
	margin: 0% 0% 0% 0%;
}
.URLbutton {
	color: white;
	text-decoration: none;
	padding-left: 1em;
	padding-right: 1em;
	transition: 0.3s;
}
.URLbutton:hover {
	color: white;
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0.3);
}
.URLbuttonText {
	color: white;
	text-decoration: none;
	transition: 0.3s;
}
.URLbuttonText:hover {
	color: rgb(170, 170, 170);
	text-decoration: none;
}
.pad {
	padding-left: 1em;
	padding-right: 1em;
}
.centre {
	margin: auto;
	display: block;
}
.code {
	font-family: 'Consolas', Courier, monospace;
	background-color: rgba(0, 0, 0, 0.3);
	font-size: 0.9em;
	font-style: normal;
	border-radius: 0.2em;
}
small {
	font-size: small;
}
.sidebar {
	top: 0px;
	position: fixed;
	width: calc(3% + 6em);
	left: 0%;
	min-height: 100%;
	z-index: 0;
	background-color: #14161d;
	padding: 0px 1em 0px 1em;
	transition: left 0.5s;
	overflow-x: auto;
}
.sidebar h4 {
	text-align: center;
	font-size: 1.35em;
	font-weight: 600;
}
.zoomonhover {
	/*font-size: 1em;*/
	transition: 0.3s;
}
.zoomonhover:hover {
	font-size: 1.2em;
}
.zoomonhover:hover:disabled {
	font-size: 1em;
}
button:disabled {
	opacity: 0.4;
}
.imageDescription { font-size: 0.8em; }
html { scroll-behavior: smooth; }
pre { font-family: 'Consolas', 'Courier New', Courier, monospace; }
.disclaimer { color: rgb(163, 61, 61); }
.disclaimerBG {
	background-color: rgb(102, 5, 5);
	padding: 0.3em 0.3em 0.3em 0.3em;
	border: 0.1em solid rgb(163, 61, 61);
	border-radius: 0.5em;
}
.disclaimerBG b::after {
	white-space: pre-wrap;
	content: "\A";
}
#sidebarbutton {
	display:none;
	position:fixed;
	left: 2%;
	top: 2%;
	z-index: 1;
	font-size:1.5em;
	background-color: rgb(0, 150, 155);
	border-radius: 1em;
	padding: 0.4em;
}
.notification {
	position: fixed;
	z-index: 5;
	right: -30em;
	top: 2%;
	text-align: left;
	max-width: 20em;
	background-color: red;
	overflow-x: auto;
	word-wrap: break-word;
	transition: 0.7s ease-out;
	border: 0.15em solid rgba(0, 0, 0, 0);
	padding: 0.3em;
	border-radius: 1em;
}
.popup {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 0.1em solid black;
	border-radius: 0.2em;
	padding: 0.3em;
	background-color: rgb(88, 88, 88);
	color: white;
	width: 500px;
	max-width: 30%;
	min-height: 5em;
	max-height: 30%;
	z-index: 5;
	transform-origin: 0% 0%;
	-webkit-animation: openPopup 0.25s ease-out;
	animation: openPopup 0.25s ease-out;
	overflow-y: auto;
}
.popup h5 {
	margin: 0.2em 0.1em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.popup .close-button {
	padding: 0.05em 0.3em;
	font-size: 1.2em;
}
.popup .popup-body {
	font-size: 0.8em;
	overflow-y: hidden;
}
.popup.closed {
	-webkit-animation: closePopup 0.25s ease-in;
	animation: closePopup 0.25s ease-in;
}
#confirm-close {
	border-radius: 0.2em;
	padding: 0.2em;
	background-color: rgba(75, 214, 65, 0.321);
}
#confirm-close:hover {
	border-radius: 0.2em;
	padding: 0.2em;
	background-color: rgba(167, 232, 162, 0.713);
}
@-webkit-keyframes closePopup {
	0% { opacity: 100; transform: scale(1) translate(-50%, -50%); }
	/*20% { opacity: 100; transform: scale(1.2) translate(-50%, -50%); }*/
	100% { opacity: 0; transform: scale(0.6) translate(-50%, -50%); }
}
@keyframes closePopup {
	0% { opacity: 100; transform: scale(1) translate(-50%, -50%); }
	/*20% { opacity: 100; transform: scale(1.2) translate(-50%, -50%); }*/
	100% { opacity: 0; transform: scale(0.6) translate(-50%, -50%); }
}
@-webkit-keyframes openPopup {
	0% { opacity: 0; transform: scale(0.6) translate(-50%, -50%); }
	/*50% { opacity: 100; transform: scale(1.2) translate(-50%, -50%); }*/
	100% { opacity: 100; transform: scale(1) translate(-50%, -50%); }
}
@keyframes openPopup {
	0% { opacity: 0; transform: scale(0.6) translate(-50%, -50%); }
	/*50% { opacity: 100; transform: scale(1.2) translate(-50%, -50%);}*/
	100% { opacity: 100; transform: scale(1) translate(-50%, -50%); }
}
#overlay {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgb(0, 0, 0, 0.5);
	position: fixed;
	/* opacity: 0; */
	transition: opacity 0.5s;
	z-index: 4;
}
th {
	background-color: rgba(255, 255, 255, 0.212);
	padding: 0.3em;
}
td {
	background-color: rgba(255, 255, 255, 0.106);
	padding: 0.3em;
}
#loading {
	background-color: rgba(0, 0, 0, 0.705);
	width: 100vw;
	height: 100vh;
	position: fixed;
	z-index: 50;
	text-align: center;
}
#logo {
	width: 60%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
