@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

.mainParagraph {
    font-family: "Source Serif 4", serif;
    font-size: 1.1em;
    margin: 0 35% 0 15%
}
.timeline {
    /*background-color: red;*/
    width: 25%;
    position: sticky;
    float:right;
    top: 15%;
    right: 5%;
    max-height: 70vh;
    overflow-y: scroll;
}
@media (max-width: 1100px) {
	.timeline {
        display: none;
	}
}
a {
    color: var(--body);
    opacity: 85%;
    transition: opacity 0.2s;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 1px;
    text-decoration-skip-ink: all;
}
a:hover {
    color: var(--body);
    opacity: 100%;
    transition: opacity 0.2s;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 2px;
    text-decoration-skip-ink: none;
}
h2 {
    margin-bottom: 0px;
    margin-top: 1.5em;
}
h5.subtitle {
    margin-top: 0px;
    text-align: center;
}
.review-brand {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 2em;
}